/*个人中心模块*/
.personal-bg {
    width:100%;
    height:auto;
    background: #F9FAFA;
    padding-bottom: 45px;
    box-sizing: border-box;
    margin-top: 60px;
}
.personal-bg .bg-header{
    width: 100%;
    height:62px;
    background-image: url('../images/personal/banner.png');
    background-repeat: no-repeat;
    background-position: center;
}
.personal-bg .breadcrumb-block{
    width: 100%;
    height:81px;
    line-height: 81px;
    background: #fff;

}
.personal-bg .breadcrumb-block  .breadcrumb{
    width: 1200px;
    margin:0 auto;
}
.personal-bg .breadcrumb-block  .breadcrumb span{
    font-size: 20px;
    font-family: NotoSansHans-Medium, NotoSansHans;
    font-weight: 500;
    color: #B7B7B7;
}
.personal-bg .breadcrumb-block  .breadcrumb img{
    width: 12px;
    height:12px;
    margin:0 7px;
}
.personal-container{
    width:1200px;
    margin:0 auto;
    padding:40px 0;
    box-sizing: border-box;
}
.personal-container .person-left-block{
    width:252px;
    height:720px;
    background: #fff;
    float: left;
    margin-right: 40px;
    position:relative;
}
.person-left-block .title-bg{
    position: absolute;
    width:212px;
    height: 56px;
    top:-10px;
    left:20px;
    background: url("../images/personal/titlebg.png");
    font-size: 18px;
    font-family: NotoSansHans-Bold, NotoSansHans;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 56px;
    text-align: center;
}
.personal-container .person-right-block{
    float: left;
    width: 908px;
    height:908px;
    background: #fff;
}
.person-left-block .person-info{
    height:102px;
    width:212px;
    background:rgba(104, 125, 151, 0.04);
    margin: 90px auto 57px;
    position: relative;
}
.person-info img{
    height:52px;
    width: 52px;
    position: absolute;
    left:50%;
    top:-18px;
    transform: translate(-50%);
}
.person-left-block .person-info span{
    display: block;
    padding-top: 46px;
    font-size: 18px;
    font-family: Helvetica-Bold, Helvetica;
    font-weight: bold;
    color: #303646;
    text-align: center;
}
.person-left-block ul{
    width:212px;
    margin:0 auto;
}
.person-left-block ul li{
    width: 100%;
    height:50px;
    line-height: 50px;
    text-align: center;
}
.personal-container::after{
    display: block;
    content: '';
    height:0;
    visibility: hidden;
    overflow: hidden;
    clear: both;
}
.person-left-block li.active{
    background: #2FB6EB;
    border-radius: 6px;
    color:#fff;
}
.person-right-block{
    padding:52px 60px;
    box-sizing: border-box;
}
.person-right-block .right-title{
    border-bottom: 1px solid rgba(0,0,0,0.05);
    margin-bottom: 20px;
}
.person-right-block .right-title h3{
    font-size: 26px;
    font-family: NotoSansHans-Bold, NotoSansHans;
    font-weight: bold;
    color: #303646;
    border-bottom: 3px solid #23E1FF;
    width:104px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.right-info{
    width: 100%;
    height:42px;
    background: rgba(47, 182, 235, 0.2);
    line-height: 42px;
    padding-left:14px ;
    font-size: 18px;
    font-family: NotoSansHans-Medium, NotoSansHans;
    font-weight: 500;
    color: #2FB6EB;
}
.right-content{
    margin-top: 30px;
}
.base-info-title {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    line-height: 50px;
}

.base-info-title span {
    display: inline-block;
    width: 4px;
    height: 22px;
    background: linear-gradient(180deg, #3584FF 0%, #46A7FF 100%);
    box-shadow: 0px 0px 6px 0px rgba(35, 225, 255, 0.72);
    opacity: 0.89;
}

.base-info-title h3 {
    display: inline-block;
    font-size: 20px;
    font-family: NotoSansHans-Medium, NotoSansHans;
    font-weight: 500;
    color: #2F2F36;
    margin-left: 10px;
}
.base-info-content{
    margin-bottom: 20px;
}
.base-info-content ul li {
    float: left;
    width: 290px;
    height: 40px;
    line-height: 40px;
    border: 1px solid rgba(229, 239, 239, 0.66);
    box-sizing: border-box;
    margin-bottom: 10px;
    padding-left: 30px;
}
.base-info-content ul li span{
    color:red;
    margin-right: 10px;
}
.base-info-content ul li:nth-child(odd) {
    background: #F4F6F8;
}

.base-info-content ul li:nth-child(even) {
    background: #ffffff;
}

.base-info-content ul::after {
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    clear: both;
}
.button{
    width: 212px;
    height: 42px;
    background: #2FB6EB;
    border-radius: 6px;
    line-height: 42px;
    text-align: center;
    color:#fff;
    border: none;
    box-sizing: border-box;
    margin-top: 30px;
    cursor: pointer;
}
