.policy-container{
    width: 100%;
    height: auto;
    margin-top: 60px;
}
.main-product{
    width: 1200px;
    margin:0 auto 30px auto;
    background: #FFFFFF;
}
.search-block{
    width:100%;
    height: 260px;
    background-image: url("../images/policyList/bannerbg.png");
    background-repeat: no-repeat;
    background-position: center;
}
.search-container{
    width: 980px;
    height: 181px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: #fff;
    top:120px;
}
.search-input{
    width: 100%;
    height:40px;
    position: relative;
}
.search-input .select {
    position: absolute;
    left:0;
    top:0;
    width:100px;
    height:100%;
    border:none;
    border-right:1px solid #bebebe;
    box-sizing: border-box;
}
.search-input input{
    position: absolute;
    left:100px;
    top:0;
    width: 773px;
    height:100%;
    border:none;
    box-sizing: border-box;
    display: block;
}
.search-input button{
    position: absolute;
    left:873px;
    top:0;
    width: 65px;
    height: 41px;
    background: #FBC673;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -5px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
.search-input button img{
    vertical-align: middle;
}
.hot-search{
    width: 100%;
    margin-top: 45px;
}
.hot-search ul{
    margin-left: 150px;
}
.hot-search ul li{
    position: relative;
    float:left;
    font-size: 18px;
    font-family: NotoSansHans-Regular, NotoSansHans;
    font-weight: 400;
    color: #FFFFFF;
    background: rgba(255, 255, 255, 0.12);
    padding:0 3px;
    margin-right: 51px;
    box-sizing: border-box;
}
.hot-search ul li img{
    position: absolute;
    right: -38px;
    top: -22px;
}
.hot-search ul li:nth-child(1){
    margin-right: 29px;
    background: transparent;
}
.hot-search ul li:last-child{
    margin-right: 0;
}
/*政策列表页样式*/
.policy-select-block{
    padding:28px 0 28px 0;
    box-sizing: border-box;
    border-top:1px solid rgba(221, 221, 221, 1);
    border-bottom:1px solid rgba(221, 221, 221, 1);
}
.policy-select-block ul {
    width: 100%;
    position: relative;
    overflow: hidden;
    zoom: 1;
    border-bottom: 1px dashed rgba(221, 221, 221, 1);
}
.policy-select-block ul:last-child{
    border-bottom: none;
}
.policy-select-block .choosedTitle {
    width: 75px;
    height: 40px;
    text-align: left;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    float: left;
    font-weight: bold;
}
.policy-select-block ul .loadMore {
    position: absolute;
    width: 67px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    color: #6E6D7A;
    display: block;
    z-index: 10;
    right: 30px;
    top: 5px;
    font-weight: normal;
}
.policy-select-block ul .loadMore img{
    width: 12px;
    height:12px;
    vertical-align: middle;
}
.policy-select-block ul .loadMore:after {
    content: "";
    width: 12px;
    height: 10px;
    position: absolute;
    top: 10px;
    left: 50px;
    transition: all .3s;
    background-image: url('../images/down.png');
    background-repeat: no-repeat;
}
.policy-select-block .choosedContent {
    width: 970px;
    margin-left: 75px;
}
.choosedContent img{
    vertical-align: middle;
    width:14px;
    height:14px;
}
.policy-select-block ul:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.policy-select-block .choosedContent a.active {
    background: #2FB6EB;
    border-radius: 15px;
    color: #fff;
    padding:0px 10px;
    box-sizing: border-box;
    min-width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top:7px;
}
.choosedContent .slect-filter, .choosedContent a, .choosedContent span {
    float: left;
    font-size: 14px;
    color: #333;
    margin: 2px 8px 5px;
    cursor: pointer;
    line-height: 42px;
}
.policy-content{
    width: 100%;
    margin-top: 46px
}
.policy-content table tr th{
    text-align: center;
    background: #F5F5F5;
    padding:15px 0px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: NotoSansHans-Medium, NotoSansHans;
    color: #495165;
    border:1px solid #dddddd;
}
.policy-content table tr td{
    padding:15px 0px;
    border:1px solid #dddddd;
    font-size: 16px;
    font-family: NotoSansHans-Medium, NotoSansHans;
    color: #495165;
    text-align: center;
}
.policy-content table tr th:nth-child(1),.policy-content table tr td:nth-child(1){
    width:50px;
}
.policy-content table tr th:nth-child(2),.policy-content table tr td:nth-child(2){
    width:240px;
}
.policy-content table tr th:nth-child(3),.policy-content table tr td:nth-child(3){
    width:200px;
}
.policy-content table tr th:nth-child(4),.policy-content table tr td:nth-child(5){
    width:200px;
}
.policy-content table tr th:nth-child(5),.policy-content table tr td:nth-child(5){
    width:200px;
}
.policy-content table tr th:nth-child(6),.policy-content table tr td:nth-child(6){
    width:350px;
}
.bread{
    width:1200px;
}
.bread-block {
    float: left;
}
.result{
    float: right;
    font-size: 16px;
    font-family: NotoSansHans-Medium, NotoSansHans;
    color: #B7B7B7;
}
.result label{
    color:#D65252;
    font-weight: bold;
}
.result button{
    background: transparent;
    border:1px solid #B7B7B7;
    color:#B7B7B7;
    padding:0 10px;
    box-sizing: border-box;
    border-radius: 15px;
    margin-left: 30px;
    cursor: pointer;
}
.content-item{
    width:100%;
    background: rgba(4, 55, 121, 0.02);
    box-shadow: 0px 10px 30px 0px rgba(140, 153, 191, 0.2);
    border: 20px solid #FFFFFF;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.info-left{
    float:left;
    width:200px;
    margin-right: 30px;
}
.info-left img.pic01{
    width: 200px;
    height: 200px;
}
.info-right{
    padding: 0 20px 20px 0;
    box-sizing: border-box;
    width:930px;
    float: right;
}
.info-right .info-bottom{
    width: 100%;
    height:auto;
    background:rgba(104, 125, 151, 0.04);
    padding:20px;
    box-sizing: border-box;
    margin-top: 16px;
}
.info-bottom label{
    color:#4A90E2
}
.info-bottom .text{
    margin-bottom: 10px;
}
.info-bottom .text span{
    display: inline-block;
}
.info-bottom .text span:nth-child(odd){
    width: 100px;
    color: #8F8F98;
}
.info-bottom .text span:nth-child(even){
    width: 150px;
    color: #2F2F36;
}
.info-top{
    margin-top: 20px;
}
.info-top .info-title .titles{
    font-size: 18px;
    font-family: NotoSansHans-Bold, NotoSansHans;
    font-weight: bold;
    color: #303646;
}
.qiye-item{
    width:1200px;
    height:auto;
    margin:30px auto 0;
    background: rgba(4, 55, 121, 0.02);
    border: 2px solid rgba(229, 239, 239, 0.66);
}
.qiye-item .info-left{
    float:left;
    width:230px;
    text-align: center;
    padding:10px 0 ;
    box-sizing: border-box;
    margin-right: 15px;
}
.qiye-item .info-left img.pic01{
    width: 160px;
    height: 160px;
}
.qiye-item .info-left img.pic02{
    width: 230px;
    height: 59px;
    margin-top: -40px;
}
.qiye-item .info-left-text{
    margin-top: -50px;
    color:#fff;
}
.qiye-item .info-right{
    padding: 0 20px 20px 0;
    box-sizing: border-box;
    width:955px;
    float: right;
}
.qiye-item .info-right .info-bottom{
    width: 100%;
    height:auto;
    background:rgba(104, 125, 151, 0.04);
    padding:20px;
    box-sizing: border-box;
    margin-top: 16px;
}
.qiye-item .info-bottom .text{
    margin-bottom: 10px;
}
.qiye-item .info-bottom .text span{
    display: inline-block;
}
.qiye-item .info-bottom .text span:nth-child(odd){
    width: 100px;
    color: #8F8F98;
}
.qiye-item .info-bottom .text span:nth-child(even){
    width: 160px;
    color: #2F2F36;
}
.qiye-item .info-title{
    float: left;
}
.qiye-item .other-info{
    margin-top: 20px;
}
.qiye-item .down{
    float: right;
}
.qiye-item .down button{
    width: 160px;
    height:38px;
    line-height: 38px;
    background: transparent;
    border:1px solid #2FB6EB;
    border-radius: 6px;
    color:#2FB6EB
}
.qiye-item .down img{
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.qiye-item .info-top{
    margin-top: 20px;
}
.qiye-item .info-top .info-title .titles{
    font-size: 18px;
    font-family: NotoSansHans-Bold, NotoSansHans;
    font-weight: bold;
    color: #303646;
}
.qiye-item .info-top .info-title div>span{
    padding:5px 10px;
}
.qiye-item .info-top .info-title div>span img{
    width:22px;
    height: 12px;
    vertical-align: middle;
}
.qiye-item .info-top .info-title div>span:nth-child(1){
    background: #EAF1FE;
    color:#5096FF
}
.qiye-item .info-top .info-title div>span:nth-child(2){
    background: #FFF4ED;
    margin-left: 20px;
    color:#FBA847
}
.left-ll{
    width: 160px;
    height: 36px;
    background: #F2F5F5;
    font-size: 16px;
    font-family: NotoSansHans-Medium, NotoSansHans;
    font-weight: 500;
    color: #888890;
    line-height: 36px;
    text-align: center;
    margin:20px auto 0;
}
.content-item::after , .qiye-item::after , .info-top::after{
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    clear: both;
}
.choosedCity{
    height:40px;
    line-height: 40px;
}
.choosedCity img{
    width: 14px;
    height:14px;
    vertical-align: middle;
}
.choosedCity span{
    display: inline-block;
}
.choosedCity span:nth-child(3){
    color:#D65252;
    margin-left: 20px;
}
.apply{
    width: 80%!important;
    display: inline-block;
}
.search-input select option{
    height: 40px;
    line-height: 40px;
}

.select {
    display:flex;
    flex-direction: column;
    position:relative;
    width:100px;
    height:40px;
    cursor: pointer;
}

.option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background:#ffffff;
    border-top:#222 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    color:#222;
    cursor: pointer;

}

.option:hover {
    background:#bebebe;
    color:#ffffff;
    cursor: pointer;
}

.select:focus .option {
    position:relative;
    pointer-events:all;
}

.select input {
    opacity:0;
    position:absolute;
    left:-99999px;
}

.select input:checked + label {
    order: 1;
    z-index:2;
    border-top:none;
    position:relative;
    cursor: pointer;
}

.select  input:checked + label:after {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #222;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
    cursor: pointer;
}

.select input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    cursor: pointer;
}
